/target

.metadata/
.metadata/.plugins/org.eclipse.jdt.core/externalLibsTimeStamps
*.gen
.metadata/.plugins/org.eclipse.m2e.core/nexus/830bc118332e77292949ed1e6d2fabe0/segments.gen
*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
.idea/*.xml

