.sign-form {
	max-width: 300px;
	padding: 15px;
	margin: 0px auto;
	background-color: white;
}

.logo {
	text-align: center;
	position: relative;
	top: 30px;
}

body {
	background: #FAFAFA;
	padding: 40px;
}

.input-group {
	margin-bottom: 10px;
}

.dropdown {
	margin-bottom: 10px;
	width: 100%;
}

#dropdownMenu1 {
	width: 100%;
}

.btn-lg {
	margin-bottom: 10px;
}

.btn-re {
	text-align: center;
}

.bttons {
	margin-top: 20px;
}
.row {
	max-width: 270px;
	margin: 0px auto;
}