body {
	background: #FAFAFA;
}

.map-footer {
	bottom: 42px;
	left: 0;
	position: absolute;
	text-align: center;
	width: 100%;
}

#searchBarDiv {
	position: absolute;
	top: 30%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.title {
	text-align: center;
	position: absolute;
	top: 18%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.table{
	background: #FFFFFF;
}
.orderlist{
	background: url(http://xs01.meituan.net/waimai_web/img/order-bot-bg1.png) no-repeat;
}
.titleDiv{
	text-align: center;
	font-size: 28px;
	height: 100px;
}
.map-footer{
	border-top: 1px solid black;
}
.map-footer-entry{
	margin-top: 30px;
}
